
title #{title}
base(href = "/")
meta(name = "description", content = "#{description}")
meta(name = "keywords", content = "#{keywords}")
meta(name = "Revesit", content = "3")
meta(name = "Document-state", content = "Dynamic")
meta(name = "Copyright", Lang = "eng", content = "2013 #{author}")
meta(name = "Copyright", Lang = "ru", content = "2013 #{author}")
meta(name = "robots", content = "all")
meta(name = "viewport", content = "width=device-width, initial-scale=1.0")
meta(http-equiv = "Content-Language", content = "#{lang}")
meta(http-equiv = "Content-Type", content = "text/html; charset = utf-8")
link(href = "/img/favicon.ico", rel = "shortcut", type = "image/x-icon")
link(href = "/img/favicon.png", rel = "icon", type = "image/png")

include css

