
#sidebar-left.col-lg-2.col-sm-1
  .sidebar-nav.nav-collapse.collapse.navbar-collapse.bs-navbar-collapse
    ul.nav.nav-tabs.nav-stacked.main-menu

      - each dict in webDicts.dicts
        - var caption = dict.caption
        - if (caption.length > 20)
          - caption = caption.slice(0,20) + '...'
        - if (dict.sid == webDicts.active)        
          li.active
            a(href = "#")
              .visible-sm
                - if (dict.settings.main.fa_icon !== undefined) {
                  i(class = "fa #{dict.settings.main.fa_icon}")
                - } else {
                  i.fa.fa-power-off
                - }
              small.hidden-sm #{caption}
        - else
          li
            a(href = "/dict/#{dict.sid}")
              .visible-sm
                - if (dict.settings.main.fa_icon !== undefined) {
                  i(class = "fa #{dict.settings.main.fa_icon}")
                - } else {
                  i.fa.fa-table
                - }
              small.hidden-sm #{caption}

