
#content.col-sm-11.col-lg-10

  .row
    .col-md-12
      ul.nav.nav-pills
        li.active
          a(href = "#dddd", data-toggle = "tab") 
            i(class = "fa fa-fw fa-lg #{parentDict.faIcon}")
            span.hidden-xs.hidden-sm #{parentDict.showcaption}
        - each child in parentDict.childs
          li
            a(href = "##{child.sid}", data-toggle = "tab") 
              i(class = "fa fa-fw fa-lg #{child.faIcon}")
              span.hidden-xs.hidden-sm #{child.showcaption}

      .tab-content
        .tab-pane.active(id = "dddd")

          br
          .row
            .col-md-12
              form.form-inline
                .form-group.col-xs-12.col-md-6.col-lg-4
                  input.form-control(type = "search", placeholder = "search")
                a.btn(href = "#") button

          .row

            .col-md-12

              #main(data-view = "dict", data-dict-type = "parent", data-dict-sid = "#{parentDict.sid}")

                table.table.table-condensed.table-striped.table-hover.dict
                  thead
                    tr
                      - each column in parentDict.columns
                        th(class = "#{column.hidden_class}") #{column.caption}

                  tbody

        - each child in parentDict.childs
          .tab-pane(id = "#{child.sid}")
            br
            .row
              .col-md-12
                form.form-inline
                  .form-group.col-xs-12.col-md-6.col-lg-4
                    input.form-control(type = "search", placeholder = "search")
                  a.btn(href = "#") button

            .row

              .col-md-12

                div(data-view = "dict", data-dict-type = "child", data-dict-sid = "#{child.sid}")

                  table.table.table-condensed.table-striped.table-hover.dict
                    thead
                      tr
                        - each column in child.columns
                          th(class = "#{column.hidden_class}") #{column.caption}

                    tbody
