
#content.col-sm-11.col-lg-10

  .row
    .col-md-12
      ul.nav.nav-pills
        li.active
          a(href = "#dddd", data-toggle = "tab") 
            i(class = "fa fa-fw fa-lg #{parentDict.faIcon}")
            span.hidden-xs.hidden-sm #{parentDict.showcaption}
        - each child in parentDict.childs
          li
            a(href = "##{child.sid}", data-toggle = "tab") 
              i(class = "fa fa-fw fa-lg #{child.faIcon}")
              span.hidden-xs.hidden-sm #{child.showcaption}

      .tab-content
        .tab-pane.active(id = "dddd", data-view = "dict", data-dict-type = "parent", data-dict-sid = "#{parentDict.sid}")

          include insert

          br
          .row
            .col-md-12
              form.form-inline(data-view = "search")
                - if (parentDict.toolbar.search === true)
                  .form-group.col-xs-12.col-md-6.col-lg-4
                    input.form-control(width = "100%", type = "search", placeholder = "#{gettext('Toolbar search')}")
                - if (parentDict.toolbar.insert === true)
                  a.btn.btn-success(href = "#", data-action = "insert", data-toggle = "tooltip", title = "#{gettext('Toolbar insert')}") 
                    i.fa.fa-plus
                - if (parentDict.toolbar.remove === true)
                  &nbsp;
                  a.btn.btn-danger(href = "#", data-action = "delete_many", data-toggle = "tooltip", title = "#{gettext('Toolbar remove')}")
                    i.fa.fa-minus

          .row
            .col-md-12
              table.table.table-condensed.table-striped.table-hover.dict
                thead
                  tr
                    th
                    - each column in parentDict.columns
                      - if (column.visible === true)
                        th(class = "#{column.hidden_class}")
                          span(data-toggle = "tooltip", title = "#{column.field}") #{column.caption}
                    th

                tbody

        - each child in parentDict.childs
          .tab-pane(id = "#{child.sid}", data-view = "dict", data-dict-type = "child", data-dict-sid = "#{child.sid}")
            br
            .row
              .col-md-12
                form.form-inline(data-view = "search")
                  - if (child.toolbar.search === true)
                    .form-group.col-xs-12.col-md-6.col-lg-4
                      input.form-control(type = "search", placeholder = "search")
                  - if (child.toolbar.insert === true)
                    a.btn.btn-success(href = "#", data-toggle = "tooltip", title = "#{gettext('Toolbar insert')}")
                      i.fa.fa-plus
                  - if (child.toolbar.remove === true)
                    &nbsp;
                    a.btn.btn-danger(href = "#", data-toggle = "tooltip", title = "#{gettext('Toolbar remove')}")
                      i.fa.fa-minus

            .row

              .col-md-12

                table.table.table-condensed.table-striped.table-hover.dict
                  thead
                    tr
                      th
                      -   each column in child.columns
                        - if (column.visible === true)
                          th(class = "#{column.hidden_class}")
                            span(data-toggle = "tooltip", title = "#{column.field}") #{column.caption}
                      th

                  tbody
