

#content.col-sm-11.col-lg-10

  .row
    .col-md-12
      ul.nav.nav-pills
        li.active
          a(href = "#dddd", data-toggle = "tab") 
            i(class = "fa fa-fw fa-lg #{parentDict.faIcon}")
            span.hidden-xs.hidden-sm #{parentDict.caption}
        - each child in parentDict.childsInfo
          - if (child.wdict !== undefined) {
            li
              a(href = "##{child.wdict}", data-toggle = "tab") 
                i(class = "fa fa-fw fa-lg #{child.fa_icon}")
                span.hidden-xs.hidden-sm #{child.caption}
          - }

      .tab-content
        .tab-pane.active(id = "dddd")

          br
          .row
            .col-md-12
              form.form-inline
                .form-group.col-xs-12.col-md-6.col-lg-4
                  input.form-control(type = "search", placeholder = "search")
                a.btn(href = "#") button

          .row

            .col-md-12

              #main(data-view = "dict", data-dict-type = "parent", data-dict-sid = "#{parentDict.sid}")

                table.table.table-condensed.table-striped.table-hover.dict
                  thead
                    tr
                      - each column in parentDict.columns
                        th(class = "#{column.hidden_class}") #{column.caption}

                  tbody

        - each child in parentDict.childsInfo
          - if (child.wdict !== undefined) {
            .tab-pane(id = "#{child.wdict}")
              span daksdsakl
          - }
