
tr(data-uuid = "#{line.d$uuid}")
  - each column in columns
    td(data-col-field = "#{column.field}")
      - if ((line[column.field] != null) && (line[column.field] !== ''))
        //- - if (fields[column.field].mtype == 'timestamp')
        //-   span #{moment(line[column.field]).format('DD.MM.YYYY')}
        //-   &nbsp;
        //-   small #{moment(line[column.field]).format('HH:mm')}
        //- - else
        span #{line[column.field]}
