
tr(data-uuid = "#{line.d$uuid}")
  - each column in columns
    td(data-col-field = "#{column.field}")
      - if ((line[column.field] != null) && (line[column.field] !== ''))        
        - if ((typeof(line[column.field]) === 'string') && (line[column.field].match(/\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}\.\d{3}Z/)))
          span(data-toggle = "tooltip", title = "#{moment(line[column.field]).fromNow()}")
            span #{moment(line[column.field]).format('DD.MM.YYYY')}
            &nbsp;
            small #{moment(line[column.field]).format('HH:mm')}
        - else
          span #{line[column.field]}
