
.container.signin-container(data-view = "signin")

  .row
    .row
      .login-box

        h2.signin-form-heading #{gettext('Signin')}

        .alert.alert-danger.hide(data-type = "error")

        form.form-horizontal.signin-form(data-type = "form")
          
          fieldset

            input.input-large.col-xs-12.signin-form-input.signin-form-login(data-type = "login", type = "text", placeholder = "#{gettext('Login')}")

            input.input-large.col-xs-12.signin-form-input.signin-form-password(data-type = "password",type = "password", placeholder = "#{gettext('Password')}")

            .clearfix

            button.btn.btn-primary.col-xs-12.signin-form-submit(data-type = "submit", type = "submit", data-loading-text = "#{gettext('Loading')}...") #{gettext('Enter')}



